MQTT_BROKER=175b4a24e828456884ccbd18fb1a5bd8.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=Kplant1
MQTT_PASS=Kplant1234

SUPABASE_URL=https://zjdyhpntftgaynchqwfk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxx

DEVICE_PREFIX=KPPL
BRIDGE_DEVICE_ID=KPBR0002
